<% uninvited_count = User.uninvited.count %>

<div class="ui styled fluid top attached accordion admin-accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    Admin Tools
  </div>
  <div class="content">
    <% GlobalSetting.get_all_latest.each do |setting| %>
      <p><%=
        link_to admin_set_global_setting_path(
          identifier: setting.identifier,
          value: !setting.value
        ),
        method: :post,
        class: "ui fluid button spinner-on-click #{ setting.value ? "green" : "red basic" }" do
      %>
        <%= GlobalSetting::IDENTIFIERS[setting.identifier] %> <%= setting.value ? "On" : "Off" %>
      <% end %></p>
    <% end %>
  </div>
</div>

<div class="ui attached warning mini message">Careful now!</div>

<div class="ui segment attached">
  <div class="ui search admin-user-search">
    <div class="ui fluid icon input">
      <input class="prompt" type="text" placeholder="John, smithj@tcd.ie, 42...">
      <i class="search icon"></i>
    </div>
  </div>
</div>

<div class="ui segment bottom attached">
  <%= link_to admin_users_path, class: "ui fluid labeled button" do %>
    <div class="ui <%= "basic" if uninvited_count == 0 %> fluid blue button">
      <i class="send outline icon"></i> Uninvited
    </div>
    <div class="ui basic left pointing blue label">
      <%= uninvited_count %>
    </div>
  <% end %>
</div>

