<div class="ui statistics">
  <div class="blue statistic">
    <div class="value">
      <%= @user_count %>
    </div>
    <div class="label">
      Users waiting for an Invite
    </div>
  </div>
</div>

<table class="ui very basic striped collapsing celled table">
  <thead>
    <tr>
      <th></th>
      <% @cols.each do |col| %>
        <th><%= col %></th>
      <% end %>
      <th>Search FB</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.order(:id).each do |user| %>
      <tr>
        <td>
          <h4 class="ui image header">
            <%= image_tag user.image_url, class: "ui mini rounded image" if user.image_url %>
            <div class="content">
              <%= user.email %>
              <div class="sub header"><%= user.created_at %></div>
            </div>
          </h4>
        </td>
        <% @cols.each do |col| %><td><%= user.send(col) %></td><% end %>
        <td>
          <% [:name, :name_backwards].map { |meth| user.send(meth) }.each do |name| %>
            <%= link_to "#{name[0..2]}...", "https://www.facebook.com/search/top/?q=#{name}", target: "_blank", class: "ui button" %>
          <% end %>
        </td>
        <td>
          <%= form_for user, html: { class: "ui form" }, url: invites_path do |f| %>
            <%= f.hidden_field :email %>
            <%= hidden_field_tag :admin_redirect_path, request.original_fullpath %>
            <%= f.button class: "ui icon button blue left labled" do %>
              <i class="send outline icon"></i> Accept
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
