<% google_segment_color = current_user ? "green" : "yellow" %>

<div class="ui tall raised segment <%= google_segment_color %>">
  <span class="ui ribbon label <%= google_segment_color %>">Your Google Account</span>

  <div class="ui items">
    <div class="item">
      <div class="content">
        <span class="header"><%= current_user.google_name %></span>
        <div class="meta">
          <span><%= current_user.email %></span>
        </div>
        <div class="extra">
          <% if current_user.invited_by %>
            Invited by: <%= current_user.invited_by.email %><br>
          <% end %>
          <% if current_user.joined_at %>
            Joined: <%= current_user.joined_at.strftime("%a, %Y-%b-%e") %>
          <% else %>
            Account Created: <%= current_user.created_at.strftime("%a, %Y-%b-%e") %>
          <% end %>
        </div>
      </div>
      <div class="ui tiny image right floated mobile hidden">
        <img src="<%= current_user.image_url %>">
      </div>
    </div>
  </div>
</div>
