<% if @events_by_date.any? %>
  <div class="ui divided list"></div>
  <% @events_by_date.each do |date, events| %>
    <h2 class="ui dividing sub header">
      <%= "Today - " if date.today? %>
      <%= "Tomorrow - " if Date.tomorrow == date %>
      <%= date.strftime("%A, #{date.day.ordinalize} of %B") %>
    </h2>

    <div class="ui list">
      <% events.each do |event| %>
        <div class="item">
          <div class="content">
            <div class="header"><%= event.summary %></div>
            <div class="description">
              <%= event.start.date_time.strftime("%H:%M") %> - <%= event.end.date_time.strftime("%H:%M") %>
              <div><small><%= event.location %></small></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="mobile hidden">
    <div class="ui tiny info message">
      To make sure timetable events actually appear on your Android/iPhone, open settings and make
      sure you've added your <code><%= current_user.email %></code> Google Calendar account.
    </div>

    <%= link_to current_user.google_calendar_url, class: "ui small fluid basic button labeled icon", target: "_blank" do %>
      <i class="calendar icon"></i> View all on Google Calendar
    <% end %>
  </div>
<% else %>
  <p class="text grey"><em>No events anytime soon...</em></p>
<% end %>

<% if current_user.is_admin? %><pre><%= @user.gcs.calendar_id %></pre><% end %>
