<div class="ui grid stackable">
  <div class="eight wide column">
    <h3>Upcoming events</h3>
    <small><em>Coming soon...</em></small>
    <div class="ui section divider"></div>
    <%= render partial: "google_account_card" %>
  </div>
  <div class="eight wide column">
    <% unless current_user.ongoing_sync_job %>
      <%= link_to manual_sync_user_path,
        method: :post,
        class: "ui large button blue fluid labeled icon spinner-on-click #{"disabled" if @sync_block_reason}",
        data: { no_turbolink: true },
        disabled: @sync_block_reason do %>
        <i class="refresh icon"></i> Sync now
      <% end %>

      <% if @sync_block_reason %>
        <em><%= @sync_block_reason %></em>
      <% end %>
    <% end %>

    <%= render partial: "sync_attempts_feed" %>
    <%= link_to setup_root_user_path, class: "ui button fluid labeled icon basic" do %>
      <i class="edit icon"></i> Setup
    <% end %>
  </div>
</div>
