<% google_segment_color = current_user ? "green" : "yellow" %>

<div class="ui tall raised segment <%= google_segment_color %>">
  <span class="ui ribbon large label <%= google_segment_color %>">Step 1: Connect Google</span>
  <p></p>
  <% if current_user %>
    <div class="ui items">
      <div class="item">
        <div class="ui tiny image">
          <img src="<%= current_user.image_url %>">
        </div>
        <div class="content">
          <span class="header"><%= current_user.name %></span>
          <div class="meta">
            <span><%= current_user.email %></span>
          </div>
          <div class="extra">
            Account created: <%= current_user.created_at.strftime("%a, %e %b %Y %H:%M") %>
          </div>
        </div>
      </div>
    </div>
    <%= button_to logout_path, method: :delete, class: "ui button labeled icon tiny basic" do %>
      <i class="delete icon"></i> Logout
    <% end %>
  <% else %>
    <%= link_to '/auth/google_oauth2', class: "ui primary button massive labeled icon" do %>
      <i class="google icon"></i> Connect Google
    <% end %>
  <% end %>
</div>

<% tcd_segment_color = user_ready_to_sync? ? "green" : "yellow" %>
<div class="ui tall raised segment <%= "disabled" unless current_user %> <%= tcd_segment_color %>">
  <span class="ui <%= tcd_segment_color %> ribbon large label">Step 2: Connect my.tcd.ie</span>
  <p></p>

  <% if current_user %>
    <%= form_for current_user, html: { class: "ui equal width form" } do |f| %>
      <div class="fields">
        <div class="field">
          <label>my.tcd.ie username</label>
          <%= f.text_field :my_tcd_username, placeholder: "Username" %>
        </div>
        <div class="field">
          <label>my.tcd.ie password</label>
          <%= f.password_field :my_tcd_password,
            placeholder: current_user.my_tcd_password.present? ? "••••••••" : "Password" %>
        </div>
      </div>
      <%= button_tag type: "submit", class: "ui labeled icon button" do %>
        <i class="sign in icon"></i>
        Login
      <% end %>
    <% end %>
  <% else %>
    <p></p>
  <% end %>
</div>
