<% if current_user && !current_user.oauth_refresh_token %>
  <div class="ui negative message">
    <i class="close icon"></i>
    <div class="header">
      <i class="icon frown"></i> Google Account Access Error
    </div>
    <p>Tcal is having trouble communicating with your Google Account</p>
    <div>
      <%= link_to "/auth/google_oauth2?prompt=consent", class: "ui primary button labeled icon" do %>
        <i class="google icon"></i> Fix this now!
      <% end %>
    </div>
  </div>
<% end %>

<div class="ui grid stackable">
  <div class="eight wide column">
    <div class="fb-like"
      data-href="https://www.facebook.com/tcaldotme"
      data-width="330"
      data-layout="standard"
      data-action="like"
      data-size="small"
      data-show-faces="true"
      data-share="true"></div>
    <br>
    <small>'gwan sure, give us a like :)</small>

    <div class="ui horizontal divider">Upcoming Events</div>
    <div class="upcoming_events"><%# LOADED ASYNC render partial: "upcoming_events" %></div>
    <div class="ui divider"></div>
    <%= render partial: "users/google_account_card" %>
  </div>
  <div class="eight wide column mobile only"><div class="ui divider"></div></div>
  <div class="eight wide column">
    <% unless current_user.ongoing_sync_job %>
      <% if @sync_block_reason %>
        <em><%= @sync_block_reason %></em>
      <% end %>

      <%= link_to manual_sync_user_path,
        method: :post,
        class: "ui large top attached labeled icon button spinner-on-click #{"disabled" if @sync_block_reason}",
        data: { no_turbolink: true },
        disabled: @sync_block_reason do %>
        <i class="refresh icon"></i> Sync now
      <% end %>
    <% end %>

    <div class="ui segment <%= "top " if current_user.ongoing_sync_job %>attached">
      <%= render partial: "users/sync_attempts_feed" %>
    </div>
    <%= link_to user_setup_step_path(step: "customise"), class: "ui bottom attached button labeled icon basic", tabindex: 0 do %>
      <i class="edit icon"></i> Setup
    <% end %>

    <%= render partial: "users/invites" if @invitees.any? %>
  </div>
</div>
