<% if current_user && !current_user.oauth_refresh_token %>
  <div class="ui negative message">
    <i class="close icon"></i>
    <div class="header">
      <i class="icon frown"></i> Google Account Access Error
    </div>
    <p>Tcal is having trouble communicating with your Google Account</p>
    <div>
      <%= link_to "/auth/google_oauth2?prompt=consent", class: "ui primary button labeled icon" do %>
        <i class="google icon"></i> Fix this now!
      <% end %>
    </div>
  </div>
<% end %>

<div class="ui grid stackable">
  <div class="eight wide column">
    <div
      class="fb-like"
      data-share="true"
      data-width="340"
      data-show-faces="true">
    </div>

    <div class="ui horizontal divider">
      Upcoming Events
    </div>
    <small><em>Coming soon...</em></small>
    <br>
    <br>
    <div class="mobile hidden">
      <%= link_to current_user.google_calendar_url, class: "ui small fluid basic button labeled icon", target: "_blank" do %>
        <i class="calendar icon"></i> View Google Calendar
      <% end %>
    </div>
    <%= render partial: "users/google_account_card" %>
  </div>
  <div class="eight wide column mobile only"><div class="ui divider"></div></div>
  <div class="eight wide column">
    <% unless current_user.ongoing_sync_job %>
      <%= link_to manual_sync_user_path,
        method: :post,
        class: "ui large button blue fluid labeled icon spinner-on-click #{"disabled" if @sync_block_reason}",
        data: { no_turbolink: true },
        disabled: @sync_block_reason do %>
        <i class="refresh icon"></i> Sync now
      <% end %>

      <% if @sync_block_reason %>
        <em><%= @sync_block_reason %></em>
      <% end %>
    <% end %>

    <%= render partial: "users/sync_attempts_feed" %>
    <%= link_to user_setup_index_path, class: "ui button fluid labeled icon basic" do %>
      <i class="edit icon"></i> Setup
    <% end %>

    <%= render partial: "users/invites" if @invitees.any? %>
  </div>
</div>
