<% if current_user && !current_user.oauth_refresh_token %>
  <div class="ui negative message">
    <i class="close icon"></i>
    <div class="header">
      <i class="icon frown"></i> Google Account Access Error
    </div>
    <p>Tcal is having trouble communicating with your Google Account</p>
    <div>
      <%= link_to "/auth/google_oauth2?prompt=consent", class: "ui primary button labeled icon" do %>
        <i class="google icon"></i> Fix this now!
      <% end %>
    </div>
  </div>
<% end %>

<div class="ui grid stackable">
  <div class="eight wide column">
    <%= render partial: "admin/admin_panel" if current_user.is_admin? %>

    <div class="fb-like"
      data-href="https://www.facebook.com/tcaldotme"
      data-width="330"
      data-layout="standard"
      data-action="like"
      data-size="small"
      data-show-faces="true"
      data-share="true"></div>
    <br>
    <small>'gwan sure, <a href="https://www.facebook.com/tcaldotme" target="_blank">give us a like :)</a></small>

    <div class="ui horizontal divider">Upcoming Events</div>
    <div class="upcoming_events" data-partial-path="<%= upcoming_events_user_path(id: @user_id_to_link) %>">
      <%# LOADED ASYNC render partial: "upcoming_events" %>
    </div>
    <div class="ui divider"></div>
    <%= render partial: "users/google_account_card", locals: { user: current_user } %>
  </div>
  <div class="eight wide column mobile only"><div class="ui divider"></div></div>
  <div class="eight wide column">
    <%= render partial: "users/sync_panel" %>
    <%= render partial: "users/invites" if @invitees.any? %>
  </div>
</div>
