<div class="ui grid stackable">
  <div class="eight wide column">
    <%= render partial: "admin/admin_panel" if current_user.is_admin? %>
    <%= render partial: "users/sync_panel" %>
  </div>
  <div class="eight wide column mobile only"><div class="ui divider"></div></div>
  <div class="eight wide column">
    <%= render partial: "users/google_account_card" %>
    <%= link_to "JSON", admin_user_path(@user, format: :json) %>
    <% if @user.joined_at? %>
      <div class="ui horizontal divider">Upcoming Events</div>
      <div class="upcoming_events" data-partial-path="<%= upcoming_events_user_path(id: @user_id_to_link) %>">
        <%# LOADED ASYNC render partial: "upcoming_events" %>
      </div>
      <pre><%= @user.gcs.calendar_id %></pre>
    <% end %>
  </div>
</div>
