<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tcal | <%= $MAIN_SHLOGAN %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= csrf_meta_tags %>

    <meta property="og:url"                content="https://www.tcal.me" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Tcal | <%= $MAIN_SHLOGAN %>" />
    <meta property="og:description"        content="<%= $MAIN_DESCRIPTION %>" />
    <meta property="og:image"              content="https://i.imgur.com/UdHwJt1.png" />
    <meta property="fb:app_id" content="1750822528518163" />

    <meta name='keywords' content='TCD, Google, Calendar, Tcal, Trinity, College, Dublin'>
    <meta name='description' content="<%= $MAIN_DESCRIPTION %>">

    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>

    <% if Rails.env == "production" && !(current_user && current_user.is_admin) %>
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        <% if current_user %>
          ga('set', 'userId', "<%= current_user.google_uid %>");
        <% end %>
        ga('create', 'UA-86037964-1', 'auto');
        // ga('send', 'pageview');
        document.addEventListener("turbolinks:load", function(event) {
          if (typeof ga === "function") {
            ga("set", "location", event.data.url);
            return ga("send", "pageview");
          }
        });
      </script>
    <% end %>

    <script type="text/javascript" data-turbolinks-eval="false">
      window.intercomSettings = <%= (current_user ? current_user.intercom_settings : BASE_INTERCOM_SETTINGS).to_json.html_safe %>;
      (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/<%= Rails.application.secrets.intercom_app_id %>';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
    </script>
  </head>
  <body>
    <div class="ui top right attached green basic small label beta-label">Beta</div>
    <div class="ui text container main-container attached">
      <h1 class="ui dividing header site-header">
        <%= link_to root_path, class: "no-style-link" do %>
          <i class="calendar icon"></i>
          <div class="content">
            Tcal
            <% if Rails.env.development? %><span class="ui violet mini label dev-label">DEV</span><% end %>
            <div class="sub header"><%= $MAIN_SHLOGAN %></div>
          </div>
        <% end %>
      </h1>

      <% if flash[:error] %>
        <div class="ui error message thinner">
          <div class="header">
            Error
          </div>
          <p><%= flash[:error] %></p>
        </div>
      <% end %>

      <% if flash[:success] %>
        <div class="ui success message thinner">
          <div class="header">
            Success
          </div>
          <p><%= flash[:success] %></p>
        </div>
      <% end %>

      <% if !flash[:success] && (!flash[:error] || flash[:invites_error]) && params[:controller] != "users" && current_user && current_user.should_show_invite_prompt? %>
        <div class="ui top attached fluid info message">
          <div class="header">
            Get a friend on board!
          </div>
          <p>
            You've sent <strong>none</strong> of your <strong><%= User::MAX_INVITES %> invites!</strong><br>
            Give a friend instant access to Tcal by <strong>entering their email</strong> below...
          </p>
        </div>
        <%= form_for User.new, html: { class: "ui form bottom attached fluid segment" }, url: invites_path do |f| %>
          <div class="field">
            <div class="ui fluid action huge input">
              <%= f.email_field :email,
                placeholder: User::SAMPLE_EMAILS.sample,
                autocapitalize: "off"
              %>
              <%= f.button class: "ui icon primary huge button" do %>
                Send <i class="send outline icon"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <%= yield %>

      <p><br></p>
      <div class="ui divider"></div>
      <div class="ui horizontal bulleted link list">
        <a id="intercom_help" href="mailto:info@tcal.me" class="item">Need help?</a>
        <% if !current_user || current_user.joined_at %>
          <%= link_to "About Tcal", about_path, class: "item" %>
          <a href="https://www.facebook.com/tcaldotme" target="_blank" class="item">
            <i class="facebook icon"></i>Page
          </a>
          <a href="mailto:info@tcal.me" class="item">
            <i class="mail icon"></i> info@tcal.me
          </a>
        <% end %>
      </div>
      <footer class="ui center aligned basic small segment">
        <% if current_user && current_user.joined_at? %>
          <p>You're user #<%= current_user.id %></p>
        <% end %>
        <a href="https://www.facebook.com/tcaldotme" target="_blank">
          <img style="opacity: 0.1;" src="https://i.imgur.com/A9Qs0bY.png">
        </a>
      </footer>
    </div>
  </body>
</html>
